<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.peakmain.basiclibrary">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <provider
            android:name="com.peakmain.basiclibrary.BasicLibraryProvider"
            android:authorities="${applicationId}.peakmain.basiclibary.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/basic_library_provider_paths" />
        </provider>
        <activity
            android:name="com.peakmain.basiclibrary.webview.BaseWebViewActivity" />
    </application>
</manifest>